torch==2.1.1
hydra-core== 1.3.2
tqdm==4.66.1
# For Python 10, use dgl==0.9.1
dgl==0.6.1
POT==0.8.2
ott-jax
wandb==0.16.1
networkx[default]==3.1
matplotlib==3.7.4
pandas==2.0.3
numpy==1.24.1
seaborn==0.13.1
scikit-learn==1.3.2
ogb==1.3.6
